<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="authHeader" class="com.yolema.common.ws.interceptor.AuthHeader">
		<property name="content" value="youlema_TBSS_TOKEN" />
	</bean>
	<bean id="clientSoapAuth"
		class="com.yolema.common.ws.interceptor.WebserviceAuthOutInterceptor">
		<property name="authHeader" ref="authHeader" />
	</bean>


	<bean id="BulletinFacade" class="com.yolema.tbss.ext.facade.BulletinFacade"
		factory-bean="BulletinFacadeFactory" factory-method="create" />

	<bean id="BulletinFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.BulletinFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/bulletin" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>

	<bean id="MsgFacade" class="com.yolema.tbss.ext.facade.MsgFacade"
		factory-bean="MsgFacadeFactory" factory-method="create" />

	<bean id="MsgFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.MsgFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/msg" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>


	<bean id="TourProductFacade" class="com.yolema.tbss.ext.facade.TourProductFacade"
		factory-bean="TourProductFacadeFactory" factory-method="create" />

	<bean id="TourProductFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.TourProductFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/tourproduct" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>
	<bean id="DictionaryFacade" class="com.yolema.tbss.ext.facade.DictionaryFacade"
		factory-bean="DictionaryFacadeFactory" factory-method="create" />

	<bean id="DictionaryFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.DictionaryFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/dictionary" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>

	<bean id="TourPlanSearchFacade" class="com.yolema.tbss.ext.facade.TourPlanSearchFacade"
		factory-bean="TourPlanSearchFacadeFactory" factory-method="create" />

	<bean id="TourPlanSearchFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass"
			value="com.yolema.tbss.ext.facade.TourPlanSearchFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/tourplansearch" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>



	<bean id="OrderBillFacade" class="com.yolema.tbss.ext.facade.OrderBillFacade"
		factory-bean="OrderBillFacadeFactory" factory-method="create" />

	<bean id="OrderBillFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.OrderBillFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/orderbill" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>



	<bean id="OrderCustomFacade" class="com.yolema.tbss.ext.facade.OrderCustomFacade"
		factory-bean="OrderCustomFacadeFactory" factory-method="create" />

	<bean id="OrderCustomFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.OrderCustomFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/ordercustom" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>


	<bean id="TourPkgProductFacade" class="com.yolema.tbss.ext.facade.TourPkgProductFacade"
		factory-bean="TourPkgProductFacadeFactory" factory-method="create" />

	<bean id="TourPkgProductFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass"
			value="com.yolema.tbss.ext.facade.TourPkgProductFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/tourpkgproduct" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>




	<bean id="RemittanceFormFacade"
		class="com.yolema.settlement.ext.facade.received.RemittanceFormFacade"
		factory-bean="RemittanceFormFacadeFactory" factory-method="create">
	</bean>

	<bean id="RemittanceFormFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass"
			value="com.yolema.settlement.ext.facade.received.RemittanceFormFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/remittanceform" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>



	<bean id="AgentsFacade" class="com.yolema.tbss.ext.facade.AgentsFacade"
		factory-bean="AgentsFacadeFactory" factory-method="create">
	</bean>

	<bean id="AgentsFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.AgentsFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/agents" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>

	<bean id="AreaFacade" class="com.yolema.tbss.ext.facade.AreaFacade"
		factory-bean="AreaFacadeFactory" factory-method="create">
	</bean>

	<bean id="AreaFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.AreaFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/area" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>


	<bean id="PaymentApplyFacade"
		class="com.yolema.settlement.ext.facade.payment.PaymentApplyFacade"
		factory-bean="PaymentApplyFacadeFactory" factory-method="create">
	</bean>

	<bean id="PaymentApplyFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass"
			value="com.yolema.settlement.ext.facade.payment.PaymentApplyFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/paymentApplyFacade" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>


	<bean id="AttachmentFacade" class="com.yolema.tbss.ext.facade.AttachmentFacade"
		factory-bean="AttachmentFacadeFactory" factory-method="create">
	</bean>

	<bean id="AttachmentFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.AttachmentFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/attachment" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>

	<bean id="YlmEmployFacade" class="com.yolema.tbss.ext.facade.YlmEmployFacade"
		factory-bean="YlmEmployFacadeFactory" factory-method="create">
	</bean>

	<bean id="YlmEmployFacadeFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.yolema.tbss.ext.facade.YlmEmployFacade" />
		<property name="address"
			value="http://183.129.158.179:8080/tbss/services/ylmemploy" />
		<property name="outInterceptors">
			<ref bean="clientSoapAuth" />
		</property>
	</bean>
</beans>