body {
  min-width: 980px;
  font-size: 12px;
  overflow-y: scroll;
  /*background-color: #f1f0f0;*/
  -webkit-font-smoothing: antialiased;
  /*background: url('../../img/contentbg.png') repeat;*/
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-size: 100%;
}

form {
  margin-bottom: 0;
}

ul, ol {
  margin: 0;
  list-style: none;
}

pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  /*padding: 2px 4px;*/
  border-radius: 0;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: #fff;
}

th, tr, td, .table-bordered {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0;
}

.breadcrumb {
  margin-bottom: 5px;
  padding: 0;
}

.nav-list {
  /*box-shadow: 0 0 1px 1px #ccc;*/
  /*border-radius: 5px;*/
  padding: 0;
}

.nav-list .nav-header {
  margin-left: 0;
  color: #333;
}

.nav-tabs>li {
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

.nav-tabs>li.active {
  font-weight: bold;
}

.navbar {
  /*position: fixed;*/
  /*z-index: 9;*/
  width: 100%;
  margin-bottom: 10px;
}

.navbar .nav>li>a {
  padding: 10px;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.navbar .nav>li>a:hover {
  color: #fff;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  text-shadow: 0 0;
}

.navbar .navbar-inner {
  font-size: 14px;
}

.navbar .navbar-inner {
  height: 42px;
  /*background: url('../../img/nav-bg.jpg') repeat-x 0 bottom !important;*/
  background: url('../../img/header-bg.png') repeat-x 0 bottom !important;
  border-radius: 0;
  /*box-shadow: 0 1px 6px 0 #6d6b6b;*/
  border: 0 none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border-top: 2px #08c solid;
  border-radius: 0;
}

.dropdown .dropdown-menu {
  top: 35px;
}

.dropdown .dropdown-toggle {
  outline: none;
}

table.table thead, table.normal thead {
  /*background-color: #08c;*/
  /*color: #fff;*/
  background: url("../../img/nav-bg.jpg") repeat-x top;
}

table thead label {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 12px;
}

table thead label input[type="checkbox"] {
  margin-right: 4px;
  vertical-align: -2px;
}

.label {
  border-radius: 0;
}

.text-warning {
  color: #f60;
}

.nav-login {
  width: 200px;
  padding: 0 10px;
  background-color: #ff9913;
  font-size: 12px;
  color: #fff;
}

.nav-login .avatar {
  float: left;
}

.nav-login .avatar img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.nav-login .info {
  float: left;
  width: 165px;
}

.nav-login .nav-signout, .nav-login .nav-message {
  cursor: pointer;
  color: #fff;
}

.nav-login .shortcut-menu {
  top: 30px;
  right: 0;
}

.nav-login .shortcut-menu .popover-content {
  min-width: 120px;
  max-width: 200px;
}

.nav-login .shortcut-menu .popover-content a {
  display: block;
}

.nav-login:hover .popover {
  display: block;
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main-body {
  width: 980px;
  margin: 0 auto;
  /*padding: 10px 5px;*/
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);*/
  /*border-radius: 5px;*/
  /*background-color: #fff;*/
}

.main-body ol {
  list-style-type: none;
  /*margin-left: 10px;*/
}

.manage-center .manage-body {
  /*padding: 10px;*/
  /*border: 1px solid #ccc;*/
}

.manage-sidebar {
  border: 1px solid #ccc;
  border-top: 2px #08c solid;
  padding-bottom: 1px;
  background-color: #fff;
}

.manage-sidebar.nav>li>a:hover,
.manage-sidebar.nav>li>a:focus {
  background-color: #08c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.manage-sidebar a {
  color: #666;
}

.manage-sidebar .nav-header {
  height: 30px;
  line-height: 30px;
  margin-left: -10px;
  padding-bottom: 0;
  font-family: "microsoft yahei";
  font-size: 14px;
  color: #333;
}

.manage-sidebar.nav-list [class^="icon-"],
.manage-sidebar.nav-list [class*=" icon-"] {
  margin-top: 5px;
}

.manage-sidebar .nav-header i {
  font-size: 16px;
}

.manage-center .mod-title {
  margin-top: 0;
}

.manage-center .mod-title,
.user-center .mod-title {
  margin: 0 0 10px 0;
}

.mod-body {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 2px #08c solid;
}

.mod-body .mod-title {
  height: 24px;
  line-height: 20px;
  margin: 0;
  font-size: 14px;
}

.mod-body .control-label,
.mod-body .controls label,
.mod-body select {
  font-size: 12px;
  cursor: default;
}

.icon-chevron-right {
  float: right;
}

.nav-list a {
  margin: 0 0 -1px !important;
  /*border: 1px solid #e5e5e5;*/
}

.mod-center {
  width: 970px;
  margin: 0 auto;
}

.mod-title {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  /*padding: 0 10px;*/
}

.mod-title > .more {
  float: right;
  font-size: 14px;
}

.mod-inner-title  > .more {
  float: right;
  font-size: 12px;
}

.title-orange {
  color: #ffa500;
  border-bottom: 3px solid #ffa500;
}

.title-green {
  color: #228b22;
  border-bottom: 3px solid #228b22;
}

.title-black {
  color: #333;
  border-bottom: 3px solid #333;
}

.title-blue {
  color: #08c;
  border-bottom: 3px solid #08c;
}

.mod-inner-title {
  font-size: 14px;
  color: #666;
}

.site-nav {
  height: 40px;
  padding: 10px 0;
}

.site-nav .site-meta {
  float: left;
}

.site-nav .site-title {
  font-family: "Microsoft YaHei";
  font-size: 18px;
}

.site-nav .site-sub-title {
  font-size: 14px;
}

.site-nav .site-logo {
  float: left;
  width: 140px;
  height: 40px;
}

.site-nav .site-logo img {
  width: 140px;
  height: 40px;
}

.site-nav .site-toolkit {
  float: right;
}

.site-nav .site-toolkit .links {
  float: left;
  line-height: 40px;
}

.site-nav .site-toolkit .hotline {
  float: left;
  color: #f00;
  text-align: center;
}

.site-nav .site-toolkit .hotline .text {
  font-size: 14px;
}

.site-nav .site-toolkit .hotline .number {
  font-size: 18px;
  font-weight: bold;
}

.site-nav .site-toolkit a {
  color: #666;
  margin-right: 10px;
}

.mod-condition .con-row {
  margin-bottom: 10px;
}

.mod-condition .con-row .nav {
  float: left;
  margin-bottom: 0;
  /*width: 800px;*/
}

.mod-condition .con-row .nav a {
  margin: 0;
  padding: 3px 6px;
  color: #666;
}

.mod-condition .con-row .nav .active a {
  color: #fff;
  background-color: #3a87ad;
  font-weight: bold;
  border-radius: 0;
}

.pagination {
  text-align: right;
}

.pagination a {
  font-size: 20px;
  color: #999;
  padding: 0 3px;
}

.pagination-input {
  width: 60px;
  margin-bottom: 4px !important;
  text-align: center;
}

.pagination .total-number,
.pagination .current-page {
  font-weight: bolder;
}

.footer {
  /*border-top: 1px solid #ccc;*/
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  /*background: url('../../img/bg_footer.jpg') repeat-x;*/
}

.footer p {
  margin: 0;
}
