body {
  font-size: 12px;
  overflow-y: scroll;
  /*background: url('../../img/contentbg.png') repeat;*/
}

.nav-list {
  box-shadow: 0 0 1px 1px #ccc;
  border-radius: 5px;
  padding: 0;
}

.nav-list .nav-header {
  margin-left: 0;
  color: #333;
}

.navbar-inner {
  background: url('../../img/nav-bg.jpg') repeat-x 0 bottom !important;
  border-radius: 0;
  box-shadow: 0 1px 8px 1px #6d6b6b;
}

.navbar .nav>li>a {
  padding: 10px;
}

.navbar .navbar-inner {
  font-size: 14px;
}

.main-page .icon-chevron-right {
  float: right;
}

.main-page .nav-list a {
  margin: 0 0 -1px;
  border: 1px solid #e5e5e5;
}

.main-page .top-search {
  width: 100px;
}

.main-page .more {
  color: #999;
  font-size: 12px;
  font-weight: normal;
}

.mod-title {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  padding: 0 10px;
  background-color: #e9eae6;
}

.footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  /*background: url('../../img/bg_footer.jpg') repeat-x;*/
}

.footer p {
  margin: 0;
}
