@import "group-common.css";

.search-input {
  width: 400px;
  margin-left: 0;
}

.message-detail {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 2px #08c solid;
}

.control-label {
  font-size: 12px;
}

.attachment {
  margin-left: 2em;
}

.reply {
  margin-top: 10px;
}

.reply textarea {
  width: 100%;
  box-sizing: border-box;
}

.product-main {
  float: left;
  width: 800px;
}

.product-more {
  float: right;
  width: 150px;
}

.product-more .show-detail {
  margin-top: 10px;
}