@import "group-common.css";

.route-body {
  margin-bottom: 10px;
  padding: 4px 10px;
  border: 2px solid #ffa500;
}

.route-body .route-type {
  float: left;
}

.route-body .route-list {
  float: left;
  width: 880px;
  line-height: 24px;
}

.route-body .route-list li {
  float: left;
  padding-right: 20px;
}

.route-body .route-list li a {
  color: #666;
}

.search-input {
  width: 345px;
}