.search-box {
  float: left;
  /*padding: 5px 10px;*/
  /*width: 580px;*/
  /*height: 230px;*/
  /*border: 5px solid #08c;*/
}

.search-box .search-btn {
  width: 80px;
}

/*.search-box .search-title {*/
/*padding: 5px 0;*/
/*font-weight: bold;*/
/*font-size: 14px;*/
/*}*/

.search-box .top-search {
  width: auto;
  font-size: 12px;
}

.search-box .search-input {
  width: 330px;
}

.search-box .form-search {
  margin-bottom: 10px;
}

.search-box .city-list {
  position: relative;
  margin-bottom: 10px;
}

.search-box .city-list li {
  float: left;
  margin-right: 10px;
  color: #666;
}

.search-box .city-key {
  position: absolute;
}

.side-box {
  float: right;
  width: 340px;
  margin-left: 10px;
  padding: 0 10px 10px;
}

.system-news {
  float: right;
  width: 450px;
}

.system-news .news-title {
  float: left;
  margin: 0;
  font-size: 12px;
  line-height: 30px;
  color: #666;
}

.system-news .news-list {
  float: left;
  width: 330px !important;
  height: 30px !important;
  line-height: 30px;
  margin-left: 10px;
  overflow-y: hidden;
}

.system-news .news-list .item {
  position: relative;
  width: 330px !important;
  line-height: 30px;
}

.system-news .news-list .link {
  /*float: left;*/
  display: inline-block;
  width: 280px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.system-news .news-list .date {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
}

.system-news .all-news {
  float: right;
  position: relative;
  top: 5px;
  right: 0;
}

.business-news {
  margin-bottom: 0;
}

.business-news .link {
  color: #333;
}

.business-news .date {
  float: right;
}

.business-news .all-news {
  float: right;
}

/*.side-box .link {*/
/*color: #333;*/
/*}*/

/*.side-box .date {*/
/*float: right;*/
/*color: #999;*/
/*}*/

.search-box .city-name {
  float: left;
  margin-left: 40px;
}

.search-box .city-name .link {
  color: #666;
}

.mod-product {
  float: left;
  width: 480px;
}

.mod-product:first-child {
  margin-right: 20px;
}

.mod-product .price {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #f60;
}

.mod-product .origin-price {
  text-decoration: line-through;
  float: right;
}

.mod-product .product-title {
  font-weight: bold;
  font-size: 14px;
}

.mod-product .start {
  margin-right: 10px;
}

.mod-product li {
  margin-bottom: 10px;
}

/*.main-page .top-search {*/
/*width: 100px;*/
/*}*/

/*.main-page .more {*/
/*color: #999;*/
/*font-size: 12px;*/
/*font-weight: normal;*/
/*}*/

/*.main-page .news li {*/
/*line-height: 24px;*/
/*}*/

/*.nav-list .nav-header {*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*}*/
.mod-title {
  margin-bottom: 10px;
}