.modal-header h3 {
  font-size: 14px;
}

.form-horizontal .control-label {
  width: 100px;
}

.form-horizontal .controls {
  margin-left: 120px;
}

textarea {
  width: 360px;
}

.modal-footer {
  text-align: center;
}