.mod-body {
  position: relative;
}

.action-list {
  position: absolute;
  top: 6px;
  right: 10px;
}

.order-info {
  margin-top: 10px;
}

.order-info li,
.process-info li {
  position: relative;
  float: left;
  width: 300px;
  line-height: 24px;
  margin-right: 10px;
}

.user-list p {
  margin-bottom: 5px;
}

.order-info .popover {
  top: -160px;
  left: -70px;
}

.order-info .popover .icon-remove {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.order-info .popover-content {
  width: 280px;
}

.order-info .popover-content img {
  float: left;
  margin-top: 10px;
  width: 70px;
  height: 70px;
}

.popover-content p {
  margin-bottom: 0;
}

.popover-action {
  padding: 10px;
  text-align: center;
}

.price {
  position: relative;
}

.price .popover {
  max-width: 600px;
  top: 20px;
  left: -200px;
}

.price .popover-content {
  width: 400px;
}

.price th, .price td {
  border-left: 0 none;
}

.price .price-detail {
  margin-bottom: 6px;
}

.price .popover-action {
  margin-top: -20px;
}
