.mod-body {
  position: relative;
}

.action-list {
  position: absolute;
  top: 6px;
  right: 10px;
}

.order-info {
  margin-top: 10px;
}

.order-info li,
.process-info li {
  float: left;
  width: 300px;
  line-height: 24px;
  margin-right: 10px;
}

.user-list p {
  margin-bottom: 5px;
}
