.order-info li {
  margin-bottom: 10px;
}

.order-info .people-num {
  margin-left: 200px;
}

.order-info .people-num input {
  width: 30px;
}

.order-info .desc-name {
  vertical-align: top;
}

.order-info .desc-value {
  width: 600px;
  height: 100px;
}

.order-action {
  text-align: center;
}

.order-info select {
  width: auto !important;
}

.order-info .name {
  width: 100px;
}

.order-info .idcard {
  width: 140px;
}

.order-info .phone {
  width: 100px;
}

.order-info .price {
  width: 100px;
}

.book-action {
  text-align: center;
}