@import "product-common.css";

.basic-info {
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
  border: 3px solid #ffa500;
  background-color: #fdf6df;
}

.basic-info .product-label {
  vertical-align: text-bottom;
  font-weight: normal;
}

.basic-info .product-title {
  margin: 0;
  font-size: 20px;
  font-family: "microsoft yahei";
}

.basic-info .product-subtitle {
  margin: 0;
  font-size: 14px;
  color: #999;
  font-family: "microsoft yahei";
}

.basic-info .product-num {
  color: #666;
}

.basic-info .title-group {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffa500;
}

.basic-info .action-bar {
  position: absolute;
  top: -26px;
  right: 0;
}

.carousel {
  width: 570px;
  height: 365px;
}

.sidebar {
  width: 370px;
  font-size: 12px;
}

.sidebar .date-title {
  font-weight: bold;
}

.sidebar .date-select {
  width: auto !important;
  margin: 0 10px;
  font-size: 12px;
}

.sidebar .date-ok {
  vertical-align: top;
}

.sidebar .product-date {
  margin-bottom: 10px;
}

.sidebar .key {
  color: #333;
  font-weight: bold;
}

.sidebar .book-body {
  padding: 10px 0;
  border-bottom: 1px solid #ffa500;
}

.sidebar .book-body .people-num {
  float: left;
}

.sidebar .product-meta {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #666;
  border-bottom: 1px solid #ffa500;
}

.sidebar .book-body .people-num {
  float: left;
  margin-right: 10px;
}

.sidebar .book-body .people-num input {
  width: 60px;
}

.sidebar .recommend {
  padding: 5px 0;
  border-bottom: 1px solid #ffa500;
}

.sidebar .recommend dt {
  font-size: 14px;
  margin-bottom: 5px;
}

.sidebar .recommend dd {
  color: #666;
}

.sidebar .recommend dd .icon-star {
  margin-right: 5px;
  font-size: 12px;
}

.sidebar .plan {
  padding: 5px 0;
  border-bottom: 1px solid #ffa500;
}
