.title-blue {
  margin: 0 0 10px 0;
}

.user-avatar {
  margin: 10px 20px;
}

.user-avatar img {
  width: 80px;
  height: 80px;
  padding: 2px;
  border: 1px solid #ccc;
}

.user-detail .control-label {
  float: left;
  width: 200px;
  line-height: 26px;
}

.user-panel {
  margin-left: 40px;
}

.user-panel a {
  margin-right: 20px;
}